/* BEST-SELLERS */
section.best-sellers {
    padding: 3% 2%;
    text-align: center;
    max-width: 100%;
}

section.best-sellers .flex{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

section.best-sellers img{
    filter: drop-shadow(3px 3px 2px black);
    border-radius: 20px;
}

.sellers-box{
    transition: 0.4s;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}

.sellers-box:hover{
    transform: scale(1.05);
}

