/* NAVBAR-HEADER */
header{
    padding: 1% 0%;
}

header .flex{
    align-items: center;
    justify-content: space-around;
}

header nav li{
    display: inline-block;
    padding: 15px;
    margin: 10px;
    font-size: 1.2em;
}

header button{
    margin: 4px;
}
